html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color:#052125;
    flex: 1;
}

.header_grid_container {
    display: grid;
    background-color: #052125;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
}

.logo_div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.logo_div img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.bank_title{
    color: white; 
    text-align: left;
}

.title_div {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: start;
    padding-top: 20px;
}

.main_nav {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

.main_nav a {
    color:white;
    border: none;
    font-weight: bolder;
    text-decoration: none;
}

.sign_up, .sign_in, .signin_page_submit_btn {
    display: inline-block; 
    border: 2px solid #316537;
    background-color: #316537; 
    color: white; 
    padding: 10px 20px; 
    margin-left: 20px;
    text-decoration: none; 
    font-weight: bold; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
}

.signin_page_submit_btn:hover {
    background-color:  rgb(66, 172, 17);
}

.sign_in:hover {
    background-color: rgb(66, 172, 17);
}

.nav_bar2 {
    font-weight: bolder;
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;  
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    height: 100%;
    padding-right: 30px;
}

.nav_bar2 a {
    text-decoration: none;
    color: #052125;
    padding-right: 30px;
}

.nav_bar2 a:hover {
    color: #316537; 
    text-decoration: underline;
}

#language-select {
    background-color: #052125;
    color:white;
    border: none;
    font-weight: bolder;
    padding-left: 30px;
}

.index_main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.laptop_img {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}

.index_main img {
    width: 70%; 
    height: 70%; 
}

.promotion_details{
    grid-column-start: 4;
    grid-column-end: 6;
    align-self: center;
    color: white;
}

.signUp_index {
    display: inline-block; 
    border: 2px solid #316537;
    background-color: #316537; 
    color: white; 
    padding: 10px 20px; 
    margin-left: 20px;
    text-decoration: none; 
    font-weight: bold; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
}

.signUp_index:hover {
    background-color: rgb(66, 172, 17);
}

.copyRights {
    color: white;
}

.signin_page_grid_container {
    display: grid;
    grid-template-columns: 700px 1fr;
}

.signin_page_grid_container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: antiquewhite;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.form_container form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

.form_container label,
.form_container input[type="text"],
.form_container input[type="password"] {
    width: 50%; 
    margin: 5px 0; 
    padding: 20px;
}


.form_container label {
    display: block; 
}

.signin_page_submit_btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.signUp {
    transition: color 0.3s ease; 
}

.signUp:hover {
    color: #0000FF; 
}
.sign_up_page_flex_container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    background-color: #052125;
}

.signup_page_form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
}

.signup_page_form input[type="text"],
.signup_page_form input[type="password"] {
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 95%; 
}

.signup_page_form input[type="submit"] {
    padding: 25px;
    background-color: #316537; 
    color: #FFFFFF; 
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.signup_page_form input[type="submit"]:hover {
    background-color:  rgb(66, 172, 17);
}

footer{
    background-color:#316537; 
    text-align: center;
}